#navbar {
    display: flex;
    gap: 100px;
    justify-content: center;
    border: 1px solid black;
}
#backcolor {
    display:flex ;
    flex-direction: column;
}
#fontcolor {
    display:flex ;
    flex-direction: column;
}
#fontsize {
    display:flex ;
    flex-direction: column;
}
#linegap {
    display:flex ;
    flex-direction: column;
}
#fonttype {
    display:flex ;
    flex-direction: column;
}