.super-mario {
    width: 200px;
    position: absolute; 
  }
  
  .goomba {
    left: 10%;
    top: 40%;
    position: absolute;
    width: 100px;
  }
  
  .baloon {
  width: 350px;
  position: absolute;
  z-index: 1;
  right: 22%;
  }
  
  .speach {
    font-size: 25px;
    top: 110px;
    left: 440px;
    position: absolute;
    z-index: 2;
  }
  
  .bowser {
    position: absolute;
    float: right;
    width: 200px;
    right: 1%;
    top: 22%;
  }

  